<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>To-Do List</h1>

    <!-- Form to add a new task -->
    <form action="{{ url_for('add_task') }}" method="POST">
        <input type="text" name="task" placeholder="Enter task" required>
        <button type="submit">Add Task</button>
    </form>

    <ul>
        <!-- Loop through tasks and display each task with its status -->
        {% for task, status in tasks.items() %}
        <li>
            <div class="task-item">

                <!-- Checkbox for "Done" and "Undone" -->
                <div class="task-actions">
                    <form action="/toggle/{{ task }}" method="POST" style="display:inline;">
                        <input id="checkbox" type="checkbox" {% if tasks[task] == "Done" %}checked{% endif %} onChange="this.form.submit()">
                    </form>
                </div>

                <!-- Task Detail-->
                <div class="task-details"></div>
                    {% if status == "Done" %}
                        <strike>{{ task }}</strike>
                    {% else %}
                        {{ task }}
                    {% endif %}
                </div>

                <!-- Delete button -->
                <div>
                    <form action="/delete/{{ task }}" method="POST" style="display:inline;">
                        <button id="delete" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
